# Project
***

## Penguins Data Set
***

https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv
***

### Libraries
***

In [44]:
# Data frames.
import pandas as pd

# Plotting.
import matplotlib.pyplot as plt

# Numerical arrays.
import numpy as np

# Numerical arrays and random numbers.
import numpy as np

# Plot.
import matplotlib.pyplot as plt

### Load Data
***

In [45]:
# Load the dataset
penguins_df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv")

In [46]:
# Have a look.
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [47]:
# Inspect types.
df.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [48]:
# Summary.
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [52]:
# Displaying a sample of each data type
print("Categorical data:")
print("Species:\n", species.head())
print("Island:\n", island.head())

Categorical data:
Species:
 0    Adelie
1    Adelie
2    Adelie
3    Adelie
4    Adelie
Name: species, dtype: object
Island:
 0    Torgersen
1    Torgersen
2    Torgersen
3    Torgersen
4    Torgersen
Name: island, dtype: object

In [59]:
# Display the column names to verify the existence of the 'sex' column
print(penguins_df.columns)

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [60]:
# Assuming 'sex' column exists, extract mixed data types
if 'sex' in penguins_df.columns:
    sex = penguins_df['sex']
    print("Sex:\n", sex.head())
else:
    print("Column 'sex' not found in the dataset.")

# Assuming 'age' column exists, extract mixed data types
if 'age' in penguins_df.columns:
    age = penguins_df['age']
    print("Age:\n", age.head())
else:
    print("Column 'age' not found in the dataset.")

Sex:
 0      MALE
1    FEMALE
2    FEMALE
3       NaN
4    FEMALE
Name: sex, dtype: object
Column 'age' not found in the dataset.